.hero-box{
    width: 500px;
}

.hero-section-heading{
    width: 600px;
    font-size: 56px;
    line-height: 66px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.hero-section-content{
    margin-bottom: 40px;
}
.hero-section-content-text{
    text-align: justify;
    line-height: 26px;
    margin-bottom: 20px;
    font-family: "Roboto",sans-serif;
}
.hero-section{
    padding: 180px 0 120px;
}
.author{
    display: flex;
    gap: 0 20px;
    align-items: center;

}
.hero-section-bg{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top:0;
    width: 1500px;
    height: 772px;
    z-index: -1;
    background: url(/images/hero-section-image.png) no-repeat 650px 150px/ 700px,url(/images/);
}
.author-img-container{
    width: 80px;
}
.author-img{
    width: 100%;
}
.author-name{
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 18px;
    margin-bottom: 5px;
}
.rating-stars{
    display: flex;
    list-style-type:none ;
    color: #fc2;
}

.btn-orange{
    background-color: #ffa322;
}
.btn-orange:hover{
    background-color: #b57720;
}
.btn-orange:active{
    background-color: #f6af4b;
}