.news-section{
    width: 1440px;
    height: 736px;
    margin-top: 100px;
    padding-left: 120px;
    padding-bottom: 100px;
    display: flex;
}
.news-container{
    width: 1200px;
    height: 636px;
    gap: 16px;
}
.news-section-header{
    width: 700px;
    height: 100px;
    margin-left: 250px;
    padding-bottom: 40px;
}
.news-heding{
    width: 80px;
    height: 22px;
    margin-left: 310px;
    padding-bottom: 4px;
}
.news-section-h2{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #0057FF;
}
.news-section-h3{
    margin-left: 149px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}
.news-section-cards{
    height: 496px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.news-left-side{
    width: 592px;
    height: 496px;
    display: flex;
    flex-direction: column;
}
.news-right-side{
    width: 592px;
    height: 495px;
    border: 1px solid #D9DCEC;
    border-radius: 10px;
    padding: 21px;
}
.right-side-picture-heading{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-left: 30px;
    margin-top: 24px;
    text-transform: uppercase;
}
.first-card{
    width: 592px;
    height: 240px;
    border: 1px solid #D9DCEC;
    border-radius: 10px;
    padding: 21px;
    display: flex;
    flex-direction: row;
}
.second-card{
    width: 592px;
    height: 240px;
    border: 1px solid #D9DCEC;
    border-radius: 10px;
    margin-top: 16px;
    padding: 21px;
    display: flex;
    flex-direction: row;
}
.card-text{
    width: 302px;
    height: 198px;
    padding-left: 30.7px;

}
.blue-h2{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0057FF;
}
.h2-first-card{
    margin-top: 19px;
}
.h2-second-card{
    margin-top: 34px;
}
.card-h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.news-p{
    margin-top: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.first-card-image{
    width: 248px;
    height: 200px;
    background: url(/images/first-card-image.png) no-repeat 0 0 / cover;
}
.second-card-image{
    width: 248px;
    height: 200px;
    background: url(/images/second-card-image.png) no-repeat 0 0 / cover;
}
.news-picture-container{
    height: 453px;
    width: 550px;
    background: url(/images/third-card-image.png) no-repeat 0 0 / cover;
}
.right-side-picture-heading-position{
    position: absolute;
    width: 550px;
    height: 160px;
}